#
# 编译R619AC固件:
#
CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_ipq40xx_generic=y
CONFIG_TARGET_ipq40xx_generic_DEVICE_p2w_r619ac-128m=y

#
# 内核配置
#
# MIPS FPU
CONFIG_KERNEL_MIPS_FPU_EMULATOR=y

#
# 固件压缩:
#
CONFIG_TARGET_IMAGES_GZIP=y

#
# IPV6支持:
#
CONFIG_IPV6=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ip6tables-extra=y
CONFIG_PACKAGE_ip6tables-mod-nat=y
CONFIG_PACKAGE_6in4=y

#
# 主题:
#
CONFIG_PACKAGE_luci-theme-opentomcat=y
CONFIG_PACKAGE_luci-theme-netgear=y
CONFIG_PACKAGE_luci-theme-argon=y

#
# 基础命令及其他:
#
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_tree=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_mount-utils=y
CONFIG_PACKAGE_openssh-sftp-server=y

#
# 常用LuCI插件选择:
#
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_PACKAGE_samba36-server=n
CONFIG_PACKAGE_luci-app-samba=n
CONFIG_PACKAGE_luci-app-samba4=n
# DDNS
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_DEFAULT_ddns-scripts_aliyun=y
CONFIG_DEFAULT_ddns-scripts_dnspod=y
# PASSWALL
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ipt2socks=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_v2ray-plugin=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_GO=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Brook=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_kcptun=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_haproxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_pdnsd=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_https_dns_proxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_dns2socks=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_simple-obfs=y
# SSR
CONFIG_PACKAGE_luci-app-ssr-plus=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Socks=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Simple_obfs=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray_plugin=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_DNS2SOCKS=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=n
# V2RAY
CONFIG_PACKAGE_luci-app-v2ray-server=n
# FTP
CONFIG_PACKAGE_luci-app-vsftpd=n
# 网易云音乐解锁
CONFIG_PACKAGE_luci-app-unblockmusic=y
# PPPOE
CONFIG_DEFAULT_luci-app-pppoe-server=y
CONFIG_DEFAULT_ppp-mod-pppoe=y
# FIREWALL
CONFIG_PACKAGE_luci-app-firewall=y
# UPNP
CONFIG_PACKAGE_luci-app-upnp=y
# 网络唤醒
CONFIG_PACKAGE_luci-app-wol=y
# 基础常用功能
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-accesscontrol=n
CONFIG_PACKAGE_luci-app-guest-wifi=y
CONFIG_PACKAGE_luci-app-ramfree=y
# 防DNS污染
CONFIG_PACKAGE_luci-app-dnsforwarder=y
# 计划重启
CONFIG_PACKAGE_luci-app-autoreboot=y
# 流量监控统计
CONFIG_PACKAGE_luci-app-nlbwmon=y
# WEB命令行
CONFIG_PACKAGE_luci-app-ttyd=n
# 升级
CONFIG_PACKAGE_luci-app-attendedsysupgrade=n
# KMS
CONFIG_PACKAGE_luci-app-vlmcsd=y
# 广告屏蔽
CONFIG_PACKAGE_luci-app-adbyby-plus=y
# QOS
CONFIG_PACKAGE_luci-app-qos=y
# ACC网络加速
CONFIG_DEFAULT_luci-app-sfe=y
# ZeroTier
CONFIG_PACKAGE_luci-app-zerotier=n
# OpenVPN
CONFIG_PACKAGE_luci-app-openvpn=y
CONFIG_PACKAGE_luci-app-openvpn-server=n
# IPSEC
CONFIG_PACKAGE_luci-app-ipsec-vpnd=n
CONFIG_PACKAGE_luci-app-ipsec-vpnserver-manyusers=y

